<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>Some web</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt greetingMessage}}</p>
        {{> footer}}
    </body>    
</html>
