<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>Some web</title>
    </head>
    <body>
        {{> header}}
        <a href = 'https://github.com/sharigar?tab=repositories'>See projects here!</a>
        {{> footer}}
    </body>    
</html>
